# Grocery Shopping Analysis

With this notebook I am analyzing my weekly grocery shopping receipts to determine how much I should budget for grocery shopping each week, even though I don't shop every single week. For that I will need to calculate how much, on average, I spend every 7 days by weighing the days in between.

In [38]:
import pandas as pd
import datetime

In [39]:
# Create DataFrame from CSV
groceries = pd.read_csv('groceries.csv', parse_dates=True, index_col=0)

In [40]:
# Inspect initial DF
display(groceries)
print(type(groceries))

            Amount
Date
2018-10-16   50.96
2018-10-19   28.64
2018-10-24   31.44
2018-11-05   39.03
2018-11-11   61.08
2018-11-12   11.45
2018-11-21   73.14
2018-11-29   44.91

<class 'pandas.core.frame.DataFrame'>

In [41]:
# Create new column for time intervals
groceries['tvalue'] = groceries.index
groceries['t_delta'] = (groceries['tvalue']-groceries['tvalue'].shift()).fillna(0)

In [42]:
del groceries['tvalue']
display(groceries)

            Amount t_delta
Date
2018-10-16   50.96  0 days
2018-10-19   28.64  3 days
2018-10-24   31.44  5 days
2018-11-05   39.03 12 days
2018-11-11   61.08  6 days
2018-11-12   11.45  1 days
2018-11-21   73.14  9 days
2018-11-29   44.91  8 days

In [47]:
# Find average interval
avg_interval = groceries['t_delta'][1:].mean()
print('Average Frequency:',str(avg_interval))

# Find average spent per trip
avg_spent = groceries['Amount'].mean()
print('Average Spent: $' + str(round(avg_spent,2)))

Average Frequency: 6 days 06:51:25.714285
Average Spent: $42.58

Seems reasonable, however, have some major outliers with the purchase after one day. Need a weighted value.

In [51]:
# Create separate DFs for the purposes of division



groceries['amount_weighted'] = Amount.divide(t_delta, axis='rows')
display(groceries)

NameError: name 'Amount' is not defined